* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* skin */
body {
  background: #ffe600;
  min-height: 100vh;
}
.skin {
  position: relative;
}

/* nose */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-15deg);
  }
  66% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nose {
  position: relative;
  top: 140px;
}
.nose:hover {
  transform-origin: top bottom;
  animation: wave 1s infinite linear;
}
.triangle {
  position: relative;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
  width: 0px;
  height: 0px;
  left: 50%;
  margin: -10px;
}
.fan {
  position: relative;
  background: black;
  width: 20px;
  height: 6px;
  top: -16px;
  left: -10px;
  border-radius: 10px 10px 0 0;
}

/* eye */
.eye {
  position: absolute;
  border: 2px solid black;
  background: #2e2e2e;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  top: 100px;
  left: 50%;
  margin: -32px;
}
.eye::before {
  position: relative;
  content: "";
  border: 2px solid black;
  width: 25px;
  height: 25px;
  display: block;
  background: white;
  border-radius: 50%;
  top: 4px;
  left: 3px;
}
.eye.left {
  transform: translateX(-100px);
}
.eye.right {
  transform: translateX(100px);
}

/* mouth */
.mouth {
  position: relative;
  width: 200px;
  height: 130px;
  top: 150px;
  left: 50%;
  margin-left: -100px;
  overflow: hidden;
}
/* mouth up*/
.lip {
  top: -10px;
  position: absolute;
  background: #ffe600;
  border-style: solid;
  border-color: black;
  width: 64px;
  height: 25px;
  z-index: 1;
}
.up::before {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  width: 0px;
  height: 0px;
  z-index: 2;
  border: 5px solid black;
  border-color: transparent transparent black transparent;
}
.lip.left {
  right: 50%;
  border-width: 0 0 5px 5px;
  border-radius: 0 0 0 50px;
  transform: rotate(-15deg);
}
.lip.left::before {
  position: absolute;
  background: #ffe600;
  content: "";
  display: block;
  width: 10px;
  top: -1.5px;
  height: 16.5px;
  right: -5.5px;
}
.lip.right {
  left: 50%;
  border-width: 0 5px 5px 0;
  border-radius: 0 0 50px 0;
  transform: rotate(15deg);
}
.lip.right::before {
  position: absolute;
  background: #ffe600;
  content: "";
  display: block;
  width: 10px;
  top: -1.5px;
  height: 16.5px;
  left: -5.5px;
}

/* mouth down*/
.circle1 {
  position: absolute;
  height: 800px;
  width: 120px;
  bottom: 0;
  left: 50%;
  margin-left: -60px;
  border: 5px solid black;
  background: #9b000a;
  border-radius: 75px/350px;
  overflow: hidden;
}
.circle2 {
  position: absolute;
  height: 100px;
  width: 120px;
  bottom: 0;
  left: 50%;
  margin-left: -60px;
  /* border: 1px solid black; */
  background: #ff4760;
  border-radius: 60px/40px;
  z-index: 2;
}

/* face */
.face {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid black;
  background: red;
  top: 180px;
  left: 50%;
  margin-left: -35px;
}
.face.left {
  transform: translateX(-150px);
}
.face.right {
  transform: translateX(150px);
}
.face > img {
  margin-left: -50px;
}
.face.left > img {
  transform: scaleX(-1);
}
